body {
    background-color:#28000b ;
    width: 430px;
    display: block;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    width: 200px;
    height: 200px;
    display: block;
    margin:0 auto;
}

h2 {
    display: block;
    margin:0 auto;
    text-align: center;
    text-transform: uppercase;
    font-weight: 10;
    color: #f5b483;
    padding-bottom: 30px;

}

.line {
    width: 300px;
    height: 1px;
    display: block;
    margin:0 auto;
    background: #BE4F14;
    background: radial-gradient(circle,rgba(190, 79, 20, 1) 0%, rgba(245, 180, 131, 1) 100%);
}

.for_us {
    margin: 20px;
}

.for_us p {
    color:#f5b483;
    text-align: center;
    padding-top: 25px;
}
.for_us p span {
    font-weight: 600;
}

.for_us li {
    color: #ffdfc7;
    font-weight: 600;
}

.icons {
    width: 20px;
    margin-right: 10px;
    position: relative;
    top: 3px;
}

.trener {
    margin-top: 45px;
}

.kris {
    width: 380px;
    border-radius: 5%;
    display: block;
    margin: 0 auto;
    padding: 20px 0px;
}

.line_trener {
    width: 300px;
    height: 1px;
    margin:0 auto;
    background: #BE4F14;
    background: radial-gradient(circle,rgba(190, 79, 20, 1) 0%, rgba(245, 180, 131, 1) 100%);

} 

.loka {
    width: 380px;
    border-radius: 10%;
    display: block;
    margin: 0 auto;
    padding: 20px 0px;
}

.cont_info {
    margin: 20px;
    text-align: center;
    
    color:#d7aa48;
    font-size: 25px;
}
.cont_info .inst img {
    display: block;
    margin: 0 auto;
    width: 100px;
}

.cont_info .strilka {
    display: block;
    margin: 0 auto;
    width: 120px;
    transform: rotate(240deg);
    filter: contrast(150%);
    position: relative;
    right: 40px;
}